*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    height: 100svh !important;
    background-position: center;
    background-image:radial-gradient(circle, rgba(32,33,36,0.6) 0%, rgba(32,33,36, 0.4) 100%),url(./pictures/pexels-tetyana-kovyrina-937980.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}
#menu{
    display: none;
}

#burger{
    height: 70px;
    width: 70px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px solid #00fff2;
    border-radius: 10px;
    box-shadow: 0 0 3px #00fff2;
    font-size: 37px;
    text-align: center;
    display: none;
    z-index: 4;
    background-color: rgba(256, 256, 256, 0.07);
    backdrop-filter: blur(5px);
    scale:75%
}
#burger ion-icon{
    scale: 150%;
}
#go-top a ion-icon{
    position: fixed;
    z-index: 2;
    margin-top: 95vh;
    margin-left: 100%;
    padding: 2px;
    border-radius: 50% 0 0 50%;
    box-shadow: 0 0 5px #f9f933;
    transform: translate(-100%,-100%);
    font-size: 1.8rem;
    backdrop-filter: blur(10px);
}
x {
    color: #00fff2;
    font-weight: 600;
}
h2{
    padding: 0 10px;
}
h3{
    text-align: center;
    font-size: 3rem;
}
h5{
    padding-left: 20px;
}
ion-icon {
    color: #f9f933;
    transform: translateY(20%);
}
#navigation-bar{
    width: 100%;
    height: 10vh;
}

#navigation-bar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    flex-basis: 1;
}

#navigation-bar ul li{
    list-style: none;
    margin: 10px 5px;
    text-align: center;
    /* background-color: rgb(251, 175, 3); */
    border: 1px solid transparent;
    outline: none;
    border-radius:20px;
}
#navigation-bar ul li a{
    font-size: 23px;
    font-weight: 100;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
}

#navigation-bar ul li:hover{
    background-color: rgba(256, 256, 256,0.07);
    border: 1px solid #00fff2;
    scale: 105%;
    transition: 0.2s;
}

#navigation-bar ul label li a:hover{
    color: #00fff2;
    font-weight: 400;
}
.container{
    height: 100vh;
}
section{
    width: 100%;
}
#welcome{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2{
    font-size: 3rem;
    text-align: center;
}
#Home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.profile {
    padding: 20px;
}
.profile img{
    width: 15rem;
}
.details{
    line-height: 30px;
    text-align: center;
    margin-left: 5%;
    padding: 5px 0;
    font-size: 1rem;
    min-width: 5rem;
    max-width: 40rem;
}
#About{
    margin-top: 2rem;
}
#About .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    margin-top: 3rem;
}
#About .box .division{
    width:45%;
    min-width: 22rem;
    margin: 10px;
    padding: 10px;
    border: 1px solid #00fff2;
    border-radius: 20px;
    /* background-color: rgba(256, 256, 256,0.1); */
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px #00fff2
}
#About .box .division h5{
    font-size: 2rem;
    margin: 20px 0;
    color: rgb(0, 255, 242);
}
.edu {
    line-height: 35px;
}
#About .box .division ul {
    padding-left: 30px;
}
#About .box .division ul li h6{
    font-size: 1.5rem;
    float: left;
}

#About .box .division ul li p{
    margin-right: 30%;
    float:right;
    font-size: 1.5rem;
}
.languages{
    height: 40px;
}
.skills{
    width: 94% !important;
}
.skill-logo{
    font-size: 3rem;
    transform: translateY(0);
}
.skills div{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.skills div div{
    width: 10rem;
    margin: 4px 5px;
    align-items: center;
    background-color: rgba(256, 256, 256,0.07);
}

#Achievements{
    margin-top: 4rem;
}
#Achievements div{
    margin: 1.5rem 1rem;
    padding: 1rem 2rem;
    border: 1px solid #00fff2;
    border-radius: 10px;
    background-color: rgba(256, 256, 256,0.02);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px #00fff2;
}
#Achievements div ul{
    list-style: none;
    line-height: 4rem;
}
#Achievements div ul li{
    font-size: 1.3rem;
}
#Achievements div ul li:nth-child(odd){
    text-align: left;
}
#Achievements div ul li:nth-child(even){
    text-align: right;
}
h3 box-icon{
    transform: translateY(6px);
}

#Contact{
    margin-top: 4rem;
}
#Contact .box{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1{
    width: 40rem;
}
#Contact #box1 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Contact #box1 form #box2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-box{
    margin: 10px 10px;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #00fff2;
    border-radius: 1rem;
    background-color: rgba(256, 256, 256,0.07);
    backdrop-filter: blur(10px);
}
textarea{
    width: 98%;
    font-family: 'Poppins', sans-serif;
}
input{
    height: 4rem;
    border: none;
    width: 50%;
}
input:focus{
    outline: 1px solid #00fff2;
    box-shadow: 0 0 5px #00fff2;
}
textarea:focus{
    outline: 1px solid #00fff2;
    box-shadow: 0 0 5px #00fff2;
}
#submit{
    margin: 1rem;
    height: 4rem;
    max-width: 14rem;
    border-radius: 0.5rem;
    background-color: rgba(256, 256, 256, 0.07);
    border: 1px solid #00fff2;
    font-size: 23px;
    font-weight: 600;
    color: #00fff2;
}
#submit:hover,#submit:focus{
    scale: 105%;
    box-shadow: 0 0 5px #00fff2;
    cursor: pointer;
}




.contact-links{
    margin:2rem 0;
}
#Contact div ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
#Contact div ul li a{
    font-size: 2rem;
    margin: 5px 20px;
    padding: 7px 12px;
    border-radius: 50%;
}
#Contact div ul li a:hover{
    /* background-color: rgba(256, 256, 256, 0.2); */
    transition: 0.2s;
    box-shadow: 0 0 5px #f9f933;
}
.footer p{
    text-align: center;
    font-size: 14px;
    font-weight: 100;
}
@media(max-width: 700px){
    h3{
        font-size: 2.5rem;
    }
    #burger{
        display: block;
        position: fixed;
    }
    #navigation-bar {
        height: 100vh;
        backdrop-filter: blur(10px);
        z-index: 2;
        position: fixed !important;
        transform: translateX(100%);
    }
    #menu:checked ~ #navigation-bar{
        transform: translateX(0);
        transition: all 0.5sec;
    }
    #menu:not(:checked) ~ #navigation-bar{
        transform: translateX(100%);
        display: none;
        transition: all 0.5sec;
    }
    #navigation-bar ul{
        width: 90%;
        margin-top: 60%;
        margin-left: 50%;
        transform: translate(-50%,-50%);
    }
    .tag{
        margin:5px !important;
        border: 1px solid #00fff2 !important;
        flex-basis: 100% !important;
    }
    #welcome {
        height: 100svh;
    }
    .division, #Achievements div, #box1{
        width: 90vw !important;
    }
    #Achievements div{
        padding: 1rem !important;
    }
    #Achievements div ul{
        line-height: 2.4rem;
    }
    #Achievements div ul li{
        font-size: 1rem;
    }
}
